.food-feed h1 {
  color: #2a3c24;
  font-size: 30px;
  font-weight: lighter;
  padding: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, sans-serif;
  flex-direction: column;
  
}

.food-feed h1::before {
  background-image: url("https://cdn.dribbble.com/users/941157/screenshots/15513050/media/6413f9fe3d03bd17202fcaebd2c8c2f9.jpeg?compress=1&resize=1200x900") ;
  background-size: cover;
  background-repeat: repeat-y;
    content: "";
            position: fixed;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
  /* Specify the background image */
  opacity: 0.5;
  z-index: -1;
}

.food-feed {
  /* background-color: #f7ede2; */
  overscroll-behavior: none;
}
