*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.make-food-post-first-section {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.make-food-post-popup {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin-bottom: 40px;
  background-color: #cdb2ab;
  margin-top: 40px;
  overscroll-behavior: contain;
}

.second-section-input {
  width: 100%;
  padding: 0 ;
}

.second-section-input input[type="text"]{
  font-family: "Quicksand";
  font-size: 18px;
  background: transparent;
  padding: 0.2rem;
  font-size: clamp(1.4rem, 1.8vw, 1.6rem);
  border-radius: 10px;
  color: whitesmoke;
}
