/* .post-input > .post-label {
  padding: 50px;
  height: 50px;
  width: 300px !important;
}

.share-btn {
  background-color: #a37774 !important;
} */

.post {
  align-items: center;
  display: flex;
  justify-content: center;
}

.post-wrapper {
  padding: 10px;
  overflow: hidden;
  display: fixed;
  margin-left: 0;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin-bottom: 50px;
  background-color: #cdb2ab;
  margin-top: 10px;
}

.post-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-top-left {
  display: flex;
  align-items: center;
}

.post-profile-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.post-username {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.post-location {
  font-size: 15px;
  font-weight: 500;
  margin-right: 5px;
}

.post-center {
  margin: 20px 0;
}

.image-box {
  align-items: center;
  display: flex;
  justify-content: center;
}

.post-image {
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);

  height: auto;
}

.going-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
}
