.food-post-wrapper > .post-label {
  padding: 50px;
  height: 50px;
  width: 300px !important;
}

.share-btn {
  background-color: #a37774 !important;
}

.food-post-form {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
}

.food-post-wrapper {
  padding: 10px;
  overflow: hidden;
  display: fixed;
  margin-left: 0;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 1);
  background-color: #cdb2ab;
}


form {
  margin-top: 10px;
}

 p.post-label {
  flex: 0 1 auto;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
  
}
