.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content {
  width: 80%;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-bottom {
  background-color: #84a59d;
  width: 100%;
  padding-top: 20px 0;
  text-align: center;
  padding: 15px;
  
}
.footer-bootom p {
  text-transform: capitalize;
}
.footer-bottomn span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
/* End Footer */
