.popup {
  overflow: hidden;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.inner-popup {
  align-items: center;
  display: flex;
  justify-content: center;
}

.reserve-post-information {
  padding: 20px;
  margin-left: 0;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 1);
  background-color: #f7ede2;
  overflow: auto;
  overscroll-behavior: contain !important;
 
}

.reserve-post-information h3{
  font-size: 25px;
  font-weight: bold;
}

.command-intro p, .click-info {
  font-size: 18px;
}

.personal-details-post-owner p {
  font-weight: bold;
}